@inherits LayoutComponentBase
<div class="container-fluid">
    <header class="bg-dark text-white text-center p-3 mb-4">
    <h1>Meu Layout Simplificado</h1>
    <p>Este layout é usado para páginas específicas .</p>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer class="bg-light text-center p-3 mt-4">
        <p>&copy;@DateTime.Now.Year - Minha Aplicação Blazor</p>
        </footer>
</div>
